/* RowAdminPage.css */

.admin-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft box shadow for elevation */
  margin-bottom: 20px;
}

.user-table,
.coupon-table,
.mileage-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* Increased margin for better separation */
}

.user-table th,
.user-table td,
.coupon-table th,
.coupon-table td,
.mileage-table th,
.mileage-table td {
  border: 1px solid #ddd;
  padding: 15px; /* Increased padding for better readability */
  text-align: center;
}
h2,h1 {
  text-align: center;
  margin: 20px; /* 마진 크기를 조절합니다. */
}

/* Button styling */
button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.create {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f0f0f0; /* 배경색 설정 */
  padding: 10px; /* 내부 여백 설정 */
  margin-bottom: 20px; /* 하단 여백 설정 */
}
button:hover {
  background-color: #2c3e50;
}

.admin-header {
  text-align: center;
}

.admin-header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Text shadow for h1 */
}
